<div class="container">
    <form  (ngSubmit)="summitform(todoform)" #todoform="ngForm">
        <div class="form-group">
          <h1>Add Task In  The List</h1>
          <label for="exampleInputEmail1">Enter the Task</label>
          <input type="text" class="form-control" name="task"   placeholder="Enter task" ngModel required>
          <small *ngIf="todoform.invalid && todoform.dirty" id="errorMessage" class="form-text text-danger" style="color: red;">plese Entert the task</small>
        </div>
        <button [disabled]="todoform.invalid"  style="margin-top:1.5rem;" type="submit" class="btn btn-primary">Submit</button>
      </form>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Task Name</th>
            <th scope="col">iscompleted</th>
            <th>Delete</th>
            <th>Edit</th>
            <th>Save</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of taskArray; index as i">
            <td><input type="text" #taskinput class="form-control" value="{{t.taskname}}" [readOnly]="!t.isEdit"></td>
            <td><input type="checkbox" (change)="onChange(i)"></td>
            <td><button type="button" class="btn btn-danger"  (click)="deleteMethod(i)">Detete</button></td>
            <td><button type="button" class="btn btn-secondary" (click)="editmethod(i)" [disabled]="t.isEdit" >Edit</button></td>
            <td><button type="button" class="btn  btn-primary" (click)="saveMethod(i,taskinput.value)" [disabled]="!t.isEdit">Save</button></td>
          </tr>
          <tr>
        </tbody>
      </table>
</div>
